#discord.py[voice]>=1.6.0,<2.0.0
git+https://github.com/Rapptz/discord.py#egg=discord.py[voice]
git+https://github.com/Rapptz/discord-ext-menus
#jishaku[procinfo,voice]
git+https://github.com/Gorialis/jishaku#egg=jishaku[procinfo,voice]
discord-flags>=2.1.0
python-dateutil>=2.8.0
matplotlib>=3.3.0
parsedatetime>=2.6
setuptools>=50.3.0
numpy>=1.19.0
pyfiglet>=0.7
asyncpg>=0.21.0
aiosqlite>=0.16.0
nltk>=3.5.0
pygit2>=1.4.0
