discord.py[voice]>=1.6.0,<2.0.0
git+https://github.com/Rapptz/discord-ext-menus
#jishaku[procinfo,voice]>=2.0
git+https://github.com/Gorialis/jishaku#egg=jishaku[procinfo,voice]
discord-flags>=2.1.0
python-dateutil==2.7.3
matplotlib>=3.3.0
parsedatetime>=2.6
setuptools>=50.3.0
numpy>=1.19.0
pyfiglet>=0.7
asyncpg>=0.21.0
nltk>=3.5.0
pygit2>=1.4.0
aioitertools>=0.7
asyncstdlib>=3.9
aiosqlite>=0.16
#sqlalchemy>=1.4,<2.0
git+https://github.com/sqlalchemy/sqlalchemy@rel_1_4_0b2
inflect>=5.0.2
humanize>=3.1.0
